.business_logo {
    height: 60px;
    padding: 5px;
    padding-right: 20px;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    padding: 15px;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav-link {
    padding-left: 25px !important;
    font-weight: 500 !important;
    color: #6b6b6b !important;
}
.nav-link.active {
    color: black !important;
}